<h2>These are your Requests:</h2>
<div class="request">
	<% @game_requests.each do |request| %>
		<table class="pure-table pure-table-striped">
			<tr>
				<th>Name</th>
				<th>Votes</th>
				<th>Created at</th>
				<th>Approved</th>
			</tr>
			<tr>
				<td><%= request.name %></td>
				<td><%= request.requests %></td>
				<td><%= time_ago_in_words(request.created_at) %></td>
				<td>
					<% if request.completed? %>
						Yes
					<% else %>
						No
					<% end %>
				</td>
			</tr>
			
			<hr>
		</table>
	<% end %>
</div>