<div id="notification-admin" class="pure-notification warning text-center p-a-0-5">
    <span name="fade-away">
	    <button class="pull-left" onclick="hideAdminNotification()" ><%= fa_icon 'close' %></button>
	    <legend><i class="fa fa-warning fa-fw"></i> Admin Mode</legend>
	    <ul>
	    	<li><%= link_to 'Handle Game Requests', game_requests_path %></li>
	    </ul>
	</span>
</div>
<button class="pure-notification-ribbon warning hidden" onclick="showAdminNotification()"><i class="fa fa-angle-down fa-fw"></i></button>