<div class="pure-layout-header">
	<div class="text-center">
		<h1 class="text-heading" style="margin: 0.2em 0">Game Codes</h1>
		<p>This Project lets users share special codes for mobile games.</p>
		<div class="l-box-s">
			<a class="pure-button pure-button-secondary button-large">Create an Account</a>
		</div>
		<s class="gotmilk">
			<% unless user_signed_in? %>
					<%= link_to 'Already got an Account?', new_user_session_path %>
			<% end %>
		</s>
	</div>
</div>