<div class="pure-layout pure-layout-960">
	<div class="l-box">
		<%= annotated_tag('h1', t('help.title')) %>
		<p>On this Site you can find answers to commonly asked questions.</p>

		<div class="section" id="coins">
			<h2>What can I do with Coins ?</h2>
			<p>
				On <%= t('brand') %> you can use <b>Coins</b> to get a better discovery for you Game Codes.
				<b>Coins</b> enable you to advertise your Codes on the <%= link_to 'Front Page', root_path %>.
			</p>
			<%= annotated_tag('h2','How can I get more Coins?') %>
		</h2>
	</div>
</div>