<div class="pure-layout pure-layout-960">
	<div class="heading text-center">
		<h1>Game Codes - Community Terms</h1>
		<p>This is an agreement between the <b>Game Codes website</b> and its registered users.</p>
		<p>You have to accept these terms in order to become a part of the <b>Game Codes</b> Community.
	</div>
	<div class="window l-box">
		<ul class="terms-of-community">
			<li>
				Always be nice to each other.
			</li>
			<li>
				Don't exploit the website.
			</li>
			<li>
				No cursing or swearing (this includes <i>Voodoo Curses</i>, too!).
			</li>
		</ul>

		<%= link_to "Okay, I'm good to go!", :back %>
	</div>
</div>