<div class="window distanced round">
	<div class="heading">Newest Users</div>
	<div class="content">
		<table class="pure-table-full pure-table-striped">
			<tr>
				<th align="left">User</th>
				<th align="right">Joined</th>
			</tr>
			<% User.last(10).each do |user| %>
				<tr>
				<td align="left">
					<%= link_to user do %>
						<%= fa_icon 'user' %>
						<%= user.nickname || user.email || 'Deleted User' %>
					<% end %>
				</td>
				<td align="right"><%= time_ago_in_words(user.created_at) %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>