<% cache do %>
<% @top_users = User.all(limit: 10).sort_by { |user| user.game_codes.count }.reverse %>
<% #@top_users = User.find(:all, order: 'game_code_id ASC', limit: 10) %>

<div class="window distanced round">
	
	<div class="heading">
		Top 10 Contributors
	</div>
	
	<div class="content">
		<table class="pure-table-full pure-table-striped">
			<tr>
				<th align="left">User</th>
				<th align="right">Codes submitted</th>
			</tr>
			<% @top_users.each do |user| %>
				<tr>
				<td align="left">
					<%= link_to user do %>
						<%= fa_icon 'user' %>
						<%= user.nickname || user.email || 'Deleted User' %>
					<% end %>
				</td>
				<td align="right"><%= user.game_codes.count %></td>
				</tr>
			<% end %>
		</table>
	</div>

</div>
<% end %>