<div class="pure-layout pure-layout-960 pure-layout-window">
	<div class="l-box">
		<h1><%= @game.name %></h1>
		<div class="pure-g">
			<div class="pure-u-1">
				<div class="l-box l-box-window">

				</div>
			</div>
		</div>
		<div id="game-controls">
			<% if user_signed_in? && current_user.admin? %>
				<%= link_to 'Edit', edit_game_path(@game), class: 'pure-button' %>
			<% end %>

			<%= link_to 'Go Back', games_path, class: 'pure-button' %>
		</div>
	</div>
</div>