.pagination-container {
	
	margin: 1em;
}

.center {
	text-align: center
}
div.pagination {
	
	a, em, span {

		color: #111;
		background: #eee;

		padding: 0.5em 0.5em;
		min-width: 2em;
	}

	a:hover {
		color: #fff;
		background: #67B7FF;
	}

	.gap {
		color: #333;
		background: none;
	}

	.disabled {
		color: #888;
		background: #ddd;
	}

	.current {
		color: #fff;
		background: #579BD8;
		border-radius: 0;
	}

	.next_page { border-radius: 0 4px 4px 0}
	.previous_page { border-radius: 4px 0 0 4px}

	a.next_page, a.previous_page {
		color: white;
		background: #579BD8;
	}

	a.next_page:hover, a.previous_page:hover {
		background: #67B7FF;
	}
}

#frame {
	background: #fff;
	min-height: 95vh;
}

.footer {

	position: static;

	bottom: 0;
	left: 0;
	right: 0;

	margin: 0;
	margin-top: 4em;
	padding: 1em;

	color: #999;
	background: #29313E;

	legend {
		color: #fff;
	}
	
	ul {
		list-style: none;
		padding-left: 0;
	}

	a {
		color: #999;
	}

	a:hover {
			color: #fff;
	}
	.footer-layout-960 {
		width: 960px;
		margin: 0 auto;
	}
}

#header {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: sticky;

	top: 0;
	z-index: 20000;
}

.responsive-form-container {
	
	margin-top: 80px;
	margin-bottom: 80px;
	.links {
		text-align: center;
	}
}

.responsive-form {
	
	color: #999 !important;
	background: #fff;

	padding: 1.8rem 2rem;

	border-bottom: 3px solid #eee;
	border-radius: 3px;

	box-shadow: 0 0 1px 0 #999;

	margin: 1rem auto;

	h2 {
		font-weight: 300;
		font-size: 1.5rem;
		padding: 0;
		margin: 0;
		color: #999;
		margin-bottom: 0.9rem;
	}

	legend {
		color: #999;

		font-size: 0.8rem;	

		margin-bottom: 0.5rem;
		padding-top: 0.5rem;
		border: none;
		border-top: 1px solid #eee;
	}

	.field {
		margin-bottom: 0.5rem;
	}
}

.game-picture-small-container { overflow: hidden; height: 6em;}
.game-picture-small { height: 6em; width: 100%; }
.game-container {
	
	position: relative;
	transition: all 1s;
	min-height: 40vh;
	width: 100%;	
	background-color: #eee;
	background-image: url('default-cover.jpg');
	background-repeat: none;
	background-size: cover;

	.header {
		width: 100%;
		background: rgba(0,0,0,0.7);
		padding: 0.5rem;
		color: white;
		h1 { 
			font-size: 1.5rem;
			font-weight: 300;
			margin: 0 0 0.3rem 0;

		}
		span.codes {
			padding: 0; margin: 0;
			color: rgba(255,255,255,0.8);
			font-size: 0.9rem;
		}
	}

	.dock-bottom {
		padding: 8px;
		position: absolute;
		bottom: 0;
	}
}

.non-mobile {
	display: none;
}

@media screen and (min-width: 44em) {

	.responsive-form {
		width: 400px;
	}

	.non-mobile {
		display: inherit;
	}
}