#frame {
	min-height: 95vh;
}

.footer {

	position: static;

	bottom: 0;
	left: 0;
	right: 0;

	margin: 0;
	margin-top: 4em;
	padding: 1em;
	color: white;
	background: #29313E;
	.footer-layout-960 {
		width: 960px;
		margin: 0 auto;
	}
}

#header {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: sticky;

	top: 0;
}

.responsive-form-container {
	
	margin-top: 80px;
	margin-bottom: 80px;
	.links {
		text-align: center;
	}
}

.responsive-form {
	
	color: #999 !important;
	background: #fff;

	padding: 1.8rem 2rem;

	border-bottom: 3px solid #eee;
	border-radius: 3px;

	box-shadow: 0 0 1px 0 #999;

	margin: 1rem auto;

	h2 {
		font-weight: 300;
		font-size: 1.5rem;
		padding: 0;
		margin: 0;
		color: #999;
		margin-bottom: 0.9rem;
	}

	legend {
		color: #999;

		font-size: 0.8rem;	

		margin-bottom: 0.5rem;
		padding-top: 0.5rem;
		border: none;
		border-top: 1px solid #eee;
	}

	.field {
		margin-bottom: 0.5rem;
	}
}


.game-container {
	
	transition: all 1s;
	min-height: 40vh;
	width: 100%;	
	background-color: #eee;
	background-image: url('default-cover.jpg');
	background-repeat: none;
	background-size: cover;

	:hover {
		background: #ccc;
	}

	.header {
		width: 100%;
		background: rgba(0,0,0,0.7);
		h1 {
			font-weight: 300;
			font-size: 1.5rem;
			padding: 0.5rem;
			color: white;
		}
	}

	.dock-bottom {
	}
}

.non-mobile {
	display: none;
}

@media screen and (min-width: 44em) {

	.responsive-form {
		width: 400px;
	}

	.non-mobile {
		display: inherit;
	}
}