@import "variables";

.hidden-item {
	display: auto;
	@media screen and (max-width: 48em) {
		display: none !important;
	}
}

#x-header {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: sticky;

	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 20000;
	background: #fefefe;
	ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 0;
		background: #fff;
		li {
			font-size: 1rem;
			margin: 0;
			display: inline-block;
			@media screen and (max-width: 48em) {
				margin: 0;
				display: block;
			}
			a {
				display: inline-block;
				padding: 0.5em 1em;
				color: #333;
				&:hover {
					background: #eee;
				}
				@media screen and (max-width: 48em) {
					width: calc(98% - 2em);
					padding: 1em;
				}
			}
			&#active {
				background: $brand-second;
				a {

					color: #fff !important;
					@media screen and (max-width: 48em) {
						background: #bbb;
					}
				}
				a:hover {
					background: #ccc;
				}
			}
		}
		@media screen and (max-width: 48em) {
			position: absolute;
			top: 3.7rem;
			left: 0;
			right: 2rem;
		    overflow: hidden;
		    border: 1px solid #eee;
		    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
		}
	}
	div.x-header-logo {
		display: inline-block;
		font-weight: 300;
		letter-spacing: 0.1em;
		padding: 0.5em;
		a {
			color: #333;
			&:hover {
				color: #666;
			}
		}
		@media screen and (max-width: 48em) {
			margin: 0 auto;
			text-align: center;
		}
	}
	@media screen and (max-width: 48em) {
		font-size: 1.5em;
	}
}

#x-header-menu-button {
	margin: 0;
	padding: 0.5em;
	display: none;
	border: none;
	outline: none;
	background: none;
	&:hover {
		background: rgba(0,0,0,0.1);
	}
	@media screen and (max-width: 48em) {
		display: inline-block;
	}
}

