.game-info-table {
	margin-bottom: 16px;
	border-bottom: 4px solid #eee;
	width: 100%;

	.heading {
		
		.description {
			h2 {
				color: #999;
				font-size : 1.5rem;
			}
		}

		.content {
			.description {
			}
		}
	}
}