$brand-primary: #32A778;
$brand-primary-hi: #49F4AF;
// $brand-primary-lo: #1F674A;
$brand-primary-lo: #2E3D41;

$brand-secondary: #DA2B5F;

$brand-third: #B26762;

$link_color: #444;
$link_color_hover: #555;

$blue: #2BB2DA;
$red: #f00; // change this