body {
	font-family: 'Lato', sans-serif;
}

a {
	color: #6A8CBE;
	text-decoration: none;
}

a:hover {
	color: #A8CBFF;
}

a:visited {
	color: #3F5371;
}

.text-heading {
}

h1.text-heading {
	font-size: 300%;
}

.text-center {
	text-align: center;
}

.pull-right {
	text-align: right;
}

.pull-left {
	text-align: left;
}